# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true


# PEG.js
[*.pegjs]
indent_style = space
indent_size = 2


# Javascript
# Following Google JavaScript Style Guide
# https://google.github.io/styleguide/javascriptguide.xml
[*.js]
indent_style = space
indent_size = 2

# npm's package.json
# Following the style of generated package.json by `npm init`
[package.json]
indent_style = space
indent_size = 2

# Bower
# Following the style of generated bower.json by `bower init`
[bower.json]
indent_style = space
indent_size = 2


# TypeScript
# Following Google JavaScript Style Guide
# https://google.github.io/styleguide/javascriptguide.xml
[*.ts]
indent_style = space
indent_size = 2

# TypeScript Project Configuration File
# Following the style of generated tsconfig.json by `tsc --init`
[tsconfig.json]
indent_style = space
indent_size = 4
insert_final_new_line = false

# An extensible linter for the TypeScript language
# Following the style of generated tslint.json by `tslint --init`
[tslint.json]
indent_style = space
indent_size = 4
insert_final_new_line = false


# Java
# Following Google Java Style Guide
# https://google.github.io/styleguide/javaguide.html
[*.java]
indent_style = space
indent_size = 2


# Markdown
[*.{md,markdown}]
# Many Markdown processors assume that tab stops are set at multiples of four.
indent_size = 4
# Trailing whitespaces are significant to Markdown documents in some syntax.
trim_trailing_whitespace = false


# YAML
[*.{yml,yaml}]
# Tab characters must not be used in indentation.
indent_style = space
# Code examples in YAML specifications use 2-space indentation.
# Other numbers are also fine.
indent_size = 2


# Test
[test/data/**.properties]
charset = unset
end_of_line = unset
insert_final_newline = false
trim_trailing_whitespace = false

[test/data/**.json]
insert_final_newline = false
